/* Variables */
$font-stack: Arial, Helvetica, sans-serif;

/* Templating */
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}



html {
	width: 100%;
	font-family: $font-stack; 

	body {

		/* Header */
		header {
			width: 100%;
			background-color: #bbb;

			nav {
				margin: 0 auto;
				padding: 20px 0;
				width: 80%;
				overflow: auto;

				h1 {
					float: left;
					font-size: 16px;
				}
				ul {
					float: right;
					list-style: none;

					li {
						float: left;
						width: 100px;
						text-align: center;

						a {
							text-decoration: none;
							color: inherit;
						}
					}
				}
			}
		}
		main {
			margin: 0 auto;
			width: 100%;

			> h1.page-header {
				margin: 20px auto 10px;
				width: 80%;
			}
			section {
				margin: 0 auto;
				width: 80%;
			}
		}
		main#portfolio {

			ul#portfolio-gallery {
				margin: 0 auto;
				width: 100%;
				overflow: auto;

				li {
					float: left;
					margin-bottom: 20px;
					width: calc((100% - 46px) / 3); // 20px margin, 6px of border
					list-style: none;
					text-align: center;
					border: 1px solid #bbb;
					border-radius: 3px;

					a {
						color: inherit;
						text-decoration: none;

						img {
							width: 100%;
							border-radius: 3px 3px 0 0;
						}
						span {
							display: block;
							padding: 15px;
						}
					}
				}
				li:not(:nth-child(3n)) {
					margin-right: 20px;
				}
			}
		}
		/* Footer */
		footer {
			width: 100%;
			background-color: #bbb;

			ul {
				margin: 0 auto;
				padding: 10px 0;
				width: 80%;
				overflow: auto;
				list-style: none;

				li {
					float: left;
					width: calc(100% / 3);
					text-align: center;
				}
			}
		}
	}
}